
<body>
  <div class="header">
    <h1 class="logo-name">compass</h1>
  </div>
  <div class="timeline-div">
    <div class="timeline-event">
      <p>Long Term Goals</p>
      <div class="timeline-bottom-div">
        <div class="circle-left"></div>
        <div class="horizontal-line"></div>
      </div>
    </div>
    <div class="timeline-event">
      <p>Quarter Goals</p>
      <div class="timeline-bottom-div">
        <div class="horizontal-line"></div>
        <div class="circle"></div>
        <div class="horizontal-line"></div>
      </div>
    </div>
    <div class="timeline-event">
      <p>Weekly Goals</p>
      <div class="timeline-bottom-div">
        <div class="horizontal-line"></div>
        <div class="circle"></div>
        <div class="horizontal-line"></div>
      </div>
    </div>
    <div class="timeline-event">
      <p>Organize</p>
      <div class="timeline-bottom-div">
        <div class="horizontal-line"></div>
        <div class="circle"></div>
        <div class="horizontal-line"></div>
      </div>
    </div>
    <div class="timeline-event">
      <p>Schedule</p>
      <div class="timeline-bottom-div">
        <div class="horizontal-line"></div>
        <div class="circle-right"></div>
      </div>
    </div>
  </div>
  <div class="card">
    <!-- <info-card *ngif="slide == Weekly Goals"></info-card> -->
  </div>
</body>