<div class="goals-card">
  <h1 class="goals-text">Set some goals for this week.</h1>
  <h2 class="goals-subtext">Last time, we promise.</h2>
  <div class="goals-div">
    <img src="https://icongr.am/feather/check-square.svg?size=128&color=0bf282" class="checkbox">
    <div class="goal-body">
      <h3>Finish Google Cover Letter</h3>
      <div class="horizontal-line-full"></div>
    </div>
  </div>
  <div class="goals-div">
    <img src="https://icongr.am/feather/check-square.svg?size=128&color=0bf282" class="checkbox">
    <div class="goal-body">
      <h3>Apply to Microsoft</h3>
      <div class="horizontal-line-full"></div>
    </div>
  </div>
  <div class="goals-div">
    <img src="https://icongr.am/feather/check-square.svg?size=128&color=0bf282" class="checkbox">
    <div class="goal-body">
      <h3>Practice Implmenting Data Structures
      </h3>
      <div class="horizontal-line-full"></div>
    </div>
  </div>
  <div class="bottom-buttons">
    <button>Back</button>
    <button class="next-button">Next</button>
  </div>
</div>